<div class='link contentElem curLink'>
<input type="hidden" name="isCurLink[]" value="true"/>
<input type="hidden" name="isOnServer[]" value="<ISONSERVER>"/>
<input type="hidden" name="curLink_label[]" value="<LINK_LABEL>"/>
<input type="hidden" name="curLink_target[]" value="<LINK_TARGET>"/>
<input type="hidden" name="curUploadId[]" value="<UPLOADID>"/>
<input type="hidden" name="link_isUpload<RANDOMID>" />
<p class='sectionLabel'>Lien</p>
<div class='actions'>
		<img class='up' src='images/up.png'>
		<img class='down' src='images/down.png'>
		<img class='delete' src='images/delete.png'>
	</div>
	<div class='link_label'>
		<p><LINK_LABEL></p>
	</div>
	<div class='link_target'>
		<p><LINK_TARGET></p>
	</div>
</div>