<html>
	<head>
		<title>Modifier le site</title>

		<link rel="stylesheet" href="menu.css">
		<script type="text/javascript" src="lib/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="util.js"></script>
		<script type="text/javascript" src="menu.js"></script>
		<script src="../controller/sendMenuAjax.js"></script>

		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta content="utf-8" http-equiv="encoding">


		<!-- Google fonts -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<section id='nav'>
				<button type="button" id="backButton"><< Retour</button>
			</section>
		<section id='saveArea'>
			<button type="button" id="save">Sauvegarder</button>
			<p id='success'>Modifications sauvegardées et publiées avec succès.</p>
			<p id='fail'>La sauvegarde a échouée.</p>
		</section>

		<h1>Modifier le site</h1>

		<form id='mainForm' action="upload.php" method="post" enctype="multipart/form-data">

			<section id='toplinks' class='content'>
				<p class='sectionLabel'>Liens haut de page</p>
				<TOPLINKS>
			</section>

			<section id='miniatures' class='content'>
				<p class='sectionLabel'>Miniatures</p>
				<MINIATURES>
			</section>

			<section id='sections' class='content'>
				<p class='sectionLabel'>Sections</p>
				<button type="button" id="addSection">+ section</button>
				<SECTIONS>
			</section>

		</form>
	</body>
</html>