div p, div input {
	display: inline-block;
}

/* Patterns */
#style #patternDemo div {
	width: 95%;
	height: 150px;
    border-color: #adadad;
    border-width: 4px;
    border-style: solid;
    font-family: Roboto, Arial;
    font-size: 14px;
    padding: 8px;
}

/* TextArea */
.textArea {
	background-color: red;
}

/* Galery */
.galery {
	background-color: green;
}
    .galery .galeryImage .image_delete {
		display: inline-block;
	}
		.galery .galeryImage .image_delete img {
			height: 13px;
		}
	.galery .galeryImage .image_upDown {
		display: inline-block;
	}
		.galery .galeryImage .image_upDown img {
			height: 9px;
			display: block;
		}

/* Link */
.link {
	background-color: blue;
}